# Packages
.vscode/
node_modules/
yarn.lock
yarn-error.log
package-lock.json

# License
LICENSE.txt
LICENSE

# Config
.prettierrc
.prettierignore

# Other
.npmrc
.gitignore
.gitattributes

# Javascript
test.js
rollup.config.js
src/
